.container {
  width: 1024px;
  height: 670px;
  border-radius: 20px;
  overflow-y: scroll;
}

.first-section {
  position: relative;
  background: #161925;
  height: 670px;
  margin: 0 auto;
  padding: 4rem;
}

.last-section {
  background: #eadeda;
  max-width: 1280px;
  height: fit-content;
  margin: 0 auto;
  padding: 4rem;
}

.joaoalrc {
  bottom: 0;
  position: absolute;
  padding: 0;
  height: 14.875rem;
  left: 0;
  width: 11.2625rem;
}

.name {
  font-size: 48px;
  line-height: 0;
  color: #eadeda;
}

.nameContainer {
  margin-bottom: 2rem;
}

.role {
  font-size: 32px;
  color: #eadeda;
}

.roleContainer {
  margin-bottom: 2rem;
}

.info {
  font-size: 22px;
  color: #eadeda;
}

.infoContainer {
  margin-bottom: 1rem;
}

.animated-icon {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  animation: jump 2.5s infinite;
}

.scroll-icon {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroll-icon.show {
  opacity: 1;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-50px);
  }
  40% {
    transform: translateY(0px);
  }
  66% {
    transform: translateY(-50px);
  }
} 